body {
    font-family: Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f333;
}
.container{
    display: block;
    background-color: white;
    width: 50%;
    height: 70%;
    border-radius: 15px;

}
h1{
    font-family: Tahoma , Verdana, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;
}
form{
    display: block;
}
input,select,textarea{
    margin-bottom: 2rem;
    padding: 0.5rem;
    border: 2px solid #333;
    border-radius: 10px;
    font-size: 20px;

}
.number{
    display: block;
}
button{
    background-color: #333;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    padding: 0.25rem ;

}
input:focus{
    background-color: aqua;
}
input[type="name"]{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 94%;
}
input[type="email"] {
    margin-left: 1rem;

    width:45%;
}
input[type="numberphone"]{
    margin-right: 1rem;
    width: 45%;

}
select{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 95%;
}
textarea{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 94%;
}
button{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 94%;
}
button:hover{
    background-color: chocolate;
}


